{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Crear Intervención</h2>
        <form action="{% url 'intervencion_crear' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form formulario %}
            <button type="submit" class="btn btn-primary">Crear</button>
            <a href="{% url 'intervencion_lista' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}